# Code owners for this repository.
#
# These owners will be the default reviewers for everything in the repo.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @l0g1c-80m8
